{% extends "base.html" %}

{% block head %}
	<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'c86e7495-cfd9-41f5-a486-bd6940531807'});</script>
{% endblock %}

{% block body %}

<h2>OpenID Provider to Facebook Connect</h2>

<p>
<b>Log into any OpenID site with your Facebook account</b>
</p>
This service allows you to use your Facebook account to log into any site which supports <nobr><a href="http://openid.net/">
 <img src="/static/openid-icon.png" />OpenID</a></nobr>!<br> All you have to do is to provide an address for the provider in one of the forms:

{% if user %}
<ul>
	<li><span class="url">{{ request_url_without_path }}/</span>
	<li><span class="url">{{ request_url_without_path }}/{{ user.nickname }}</span>
</ul>
{% else %}
<ul>
	<li><span class="url">http://facebook-openid.appspot.com/</span>
	<li><span class="url">http://facebook-openid.appspot.com/[your-facebook-login]</span>
</ul>
{% endif %}
</p>

<p>&nbsp;</p>

{% endblock %}
